.atributes {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
.skill {
	font-size: 1rem;
	width: 9.5rem;
}
.number {
	font-size: 1rem;
}
.scrollbar {
	width: 20rem;
	height: 0.5rem;
	background-color: #16141b;
	border-radius: 1rem;
}
.bar {
	height: 100%;
	background-color: #d2d2d2;
	border-radius: 1rem;
}
