.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10rem;
	width: 100%;
	padding: 0 3rem;
}
.left {
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
	gap: 1rem;
}
.image {
	width: 80%;
	height: auto;
}
.pokemonName {
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
	color: #d2d2d2;
}

.info {
	display: flex;
	flex-direction: column;
	background-color: #72b773;
	width: 40%;
	height: 70%;
	border-style: solid;
	border-color: #d2d2d2;
	border-width: 0.1rem;
	border-radius: 0.75rem;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(#72b773, #72b77379);
	transition: all 0.5s;
	&:hover {
		transition: all 0.5s;
		transform: translateY(-1rem);
		color: #d2d2d2;
	}
	padding: 1rem;
	img {
		width: 40%;
		height: auto;
		max-height: 20rem;
	}
	// margin-bottom: 10rem;
}
.nameInfo {
	font-size: 2rem;
}
@media (min-width: 1600px) and (max-width: 2500px) {
	.main {
		height: 100%;
	}
}
@media (max-width: 1600px) {
	.main {
	}
	.info {
		width: 60%;
		gap: 1rem;
		height: 100%;
	}
	.image {
		width: 90%;
	}
}
@media (max-width: 900px) {
	.main {
		width: 90%;
		display: flex;
		flex-direction: column;
		padding-bottom: 1rem;
	}
	.left {
		width: 70%;
	}
	.info {
		width: 100%;
		gap: 2rem;
	}
}
@media (max-width: 700px) {
	.main {
		display: flex;
		flex-direction: column;
		background-color: #16141b;
		height: auto;
		gap: 2rem;
		padding-bottom: 1rem;
	}
	.left {
		width: 70%;
	}
	.info {
		width: 90%;
		gap: 1rem;
		img {
			width: 90%;
		}
	}
}
@media (max-width: 450px) {
	.main {
		display: flex;
		flex-direction: column;
		padding: 0rem 1rem 1rem 1rem;
		background-color: #16141b;
		gap: 3rem;
	}
	.left {
		width: 90%;
	}
	.info {
		width: 90%;
		gap: 0.5rem;
		img {
			width: 90%;
		}
	}
}
