.logoPokemon {
	width: 15rem;
	height: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #16141b;
	width: 100%;
	height: auto;
}
@media (min-width: 1600px) and (max-width: 2500px) {
	.homePage {
		height: 100vh;
	}
}
@media (min-width: 900px) and (max-width: 1600px) {
	.homePage {
		height: 100vh;
	}
}
