.logoPokemon {
	width: 15rem;
	height: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #16141b;
	height: 100vh;
	width: 100%;
}
